{% extends 'base.html.twig' %}


{% block body %}





<form class="form-inline" action="{{ path('recibir_formulario') }}" method="post">
	 	<div class="form-group-inline mx-sm-3 mb-2"> 
	        <input type="Código postal" class="form-control" id="inputPassword2" placeholder="Código postal" name="cp">
	            <label for="inputPassword2" class="sr-only"> Código postal </label>
	    </div>
	        <button type="submit" class="btn btn-success mb-2"> ENTRAR <i class="fas fa-arrow-right"></i></button>
</form>






{% endblock %}
