@import '~bootstrap/dist/css/bootstrap.min.css';

header p{
color: red;
font-family: arial;
font-size: 1 em;
text-align: center;
border-radius: 6px;
border-color: #f5c6cb;
background-color: #f8d7da;

}

a {
color:#00ab61;
font-size: 1em;
font-family:Muli;
}

header span{
	margin-right: 8px;
	font-size: 12px;
	font-family: Muli;
	text-align: right;
}
