<footer>
		<div class="row">
			<ul>

				<h3><strong>Cliente</strong></h3>

				<li><a class="nav-item nav-link" href="#"> Supermercados </a></li>
				<li><a class="nav-item nav-link" href="#"> Consejos </a></li>
				<li><a class="nav-item nav-link" href="#">Factura cliente  </a></li>
				<li><a class="nav-item nav-link" href="#">Factura cliente</a></li>
			</ul>	

			
			<ul>

				<h3><strong>Trabajador</strong></h3>

				<li><a class="nav-item nav-link" href="#"> Tabaja con nosotros </a></li>
				
			</ul>
			<ul>	

				<h3><strong>Proveedor</strong></h3>

				<li><a class="nav-item nav-link" href="#"> E-factura </a></li>
				<li><a class="nav-item nav-link" href="#"> Consejos </a></li>
				<li><a class="nav-item nav-link" href="#"> Portal Trinidad </a></li>
				
				
			</ul>	

			<ul>	

				<h3><strong>Sociedad</strong></h3>

				<li><a class="nav-item nav-link" href="#"> Actualidad </a></li>
				<li><a class="nav-item nav-link" href="#"> Sala de prensa </a></li>
				<li><a class="nav-item nav-link" href="#"> Conoce Mercadona  </a></li>
				<li><a class="nav-item nav-link" href="#"> Mercadona en Portugal  </a></li>
				
				
			</ul>	


			
			<ul>	
				

				<h3><strong>Contacto</strong></h3>

				<li><a class="nav-item nav-link" href="#"><i class="fas fa-envelope"></i>Contacto</a></li>
				<li><a class="nav-item nav-link" href="#">    </a></li>
				<li><a class="nav-item nav-link" href="#">    </a></li>
				<li><a class="nav-item nav-link" href="#">     </a></li>
				
				
			</ul>	




		</div>

</footer>